<br />
<div class="row">
  <h1><small> Reportes </small></h1>
</div>
<br/>

<br/>
<div  class="col-6">
    <h2>Producto más vendido</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Mes</th>
        <th scope="col">Nombre del producto</th>
        <th scope="col">Total facturado</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let p of productArray">
        <td>{{p.fecha | date:'MMMM'}} de {{p.fecha | date:'y'}}</td>
        <td>{{p.nombre}}</td>
        <td>{{p.total}}</td>
      </tr> 
    </tbody>    
  </table>
</div>
<br/>
<div  class="col-6">
    <h2>Clientes con más compras</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Año</th>
        <th scope="col">Nombre del cliente</th>
        <th scope="col">Total facturado</th>
      </tr>
    </thead>
    <tbody >
      <tr  *ngFor="let c of ClienteArray">
        <td>{{c.fecha | date:'y'}}</td>
        <td>{{c.nombre}}</td>
        <td>{{c.total}}</td>
      </tr> 
    </tbody>    
  </table>
</div>
